<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "head/css.html" . }}
    {{ partial "head/js.html" . }}
  </head>
  <body>
    <div class="site-shell">
      <header class="site-nav">
        <div class="site-brand">
          <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </div>
        <nav>
          <ul class="site-menu">
            {{ range .Site.Menus.main }}
              <li>
                <a href="{{ .URL }}" {{ if $.IsMenuCurrent "main" . }}aria-current="page"{{ end }}>
                  {{ .Name }}
                </a>
              </li>
            {{ end }}
          </ul>
        </nav>
        <button type="button" class="theme-toggle" id="theme-toggle" aria-label="Toggle color theme">
          <!-- https://icon-sets.iconify.design/bitcoin-icons/sun-filled/ -->
          <svg class="theme-icon theme-icon-sun" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
	          <path fill="currentColor" d="M12 16.5A4.505 4.505 0 0 1 7.5 12c0-2.481 2.019-4.5 4.5-4.5s4.5 2.019 4.5 4.5s-2.019 4.5-4.5 4.5" />
	          <path fill="currentColor" fill-rule="evenodd" d="M12 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 12 3m6 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5M3 12a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 3 12m9 6a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2a.5.5 0 0 1 .5-.5m6.354-12.354a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0m-10.5 10.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0m-2.208-10.5a.5.5 0 0 1 .708 0l1.5 1.5a.5.5 0 1 1-.708.708l-1.5-1.5a.5.5 0 0 1 0-.708m10.5 10.5a.5.5 0 0 1 .708 0l1.5 1.5a.5.5 0 0 1-.708.708l-1.5-1.5a.5.5 0 0 1 0-.708" clip-rule="evenodd" />
          </svg>
          <!-- https://icon-sets.iconify.design/bitcoin-icons/moon -->
          <svg class="theme-icon theme-icon-moon"  width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
             <g fill="none" stroke="currentColor" stroke-width="1">
              <path d="M20.434 13.934a6.5 6.5 0 0 1-7.367-7.367A6.501 6.501 0 0 0 14 19.5a6.5 6.5 0 0 0 6.433-5.566Z"/>
              <path stroke-linecap="round" d="M4.5 8.75v1.5m.75-.75h-1.5m3.75-6v2m1-1h-2"/>
            </g>
          </svg>
        </button>
      </header>

      <main class="site-main">
        <section class="glass-card">
          {{ block "main" . }}{{ end }}
        </section>
      </main>
    </div>
  </body>
</html>
